*{
    font-family: sans-serif;
}

/*BODY*/
html{
    height: 100%;
}
body{
    min-height: 100%;
    margin: 0;
    padding: 0;
    background:#f7f5f0;
    color: rgb(87, 87, 87);
}

strong{
    color: rgb(71, 70, 70);
}
/*HEADER*/

header{
    background-image: url('./img/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-left: 10px;

}

/*menu dans le header avec les items*/
ul.menu{
    margin: 0px;
    padding-left: 10px;
}

.menu li{
    background:#f7f5f0;
}

li.menu-item{
    padding: 5px;
}

li.menu-item:first-child{
    background: white;
}

/*MAIN*/

main{
    background-color : #f7f5f0;
    margin-top: 10px;
    flex-basis: 90%;

}

h1{
    color: #233d90;
    border-bottom: 1px solid #233d90;
}

h2{
    color: #692c4a;
}

/*liste des items du header*/

ul{
    display: flex;
    list-style-type: none;
}

ul.menu li{
    background-color: #eeeeee;
    margin-left: 5px;
    margin-right: 5px;

}
ul.menu a:hover{
    color: palevioletred;
}

/*lien dans le main*/
#main a:hover{
    background-color: red;
    text-decoration: none;
}

/* pagination*/

.pagination li{
    background: rgb(145, 144, 144);
    margin-left: 4px;
    padding: 4px;
}
.pagination li a{
    color: white;
}
.pagination li:first-child{
    background: none;
}

/*citation*/
blockquote{
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 20px;
    line-height: 1.65em;
    border-left: 5px solid #ffd494;
    padding-left: 10px;

}

/*taille du content*/
#content{
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
    height: 100%;
}



/*ASIDE*/

/*taille du aside et positionnement auto à droite car le content prend 70% de place*/
aside{
    flex-basis: 10%;
    padding: 1px ;
    background: white;
}
/*décalade du titre à droite*/
aside h2{
    padding-left: 10px;
}

/*positionnement vertical des liens*/
.liens ul{
    flex-direction: column;

}

/*ronds ajouté en tête de liste*/
.liens ul li{
    list-style: inside;
    background: white;
}


/*Form*/

/* Agrandir l'espace vertical entre chaque élément */
form .form-item{
    margin-top: 15px;
    
}
/* Agrandir l'input, changer la couleur et l'arrondi du cadre */
input#nb_personnes{
    border-radius: 3px;
    border: 1px solid lightgrey;
    width: 150px;
    height: 20px;
}
/* Agrandir l'input, changer la couleur et l'arrondi du cadre */



/*FOOTER*/

footer {
    background-color: #b6c6fb;
    padding: 1px;
    margin-top: 30px;
    padding-left: 10px;
}

#ingredients{
    width: 230px;
    border-radius: 3px;
    border: 1px solid lightgrey;
    background-color: white;
}




